.venue-slider {
    padding-top: 80px;
}

.venue-slider .slick-list {
    height: 470px;
}

.venue-slider .slick-track {
    height: 100%;
}

.venue-slider .slick-slide {
    height: 100%;
}

.venue-slider .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.venue-slider .slick-next,
.venue-slider .slick-prev {
    width: 45px;
    height: 45px;
}

.venue-slider .slick-next {
    background: url('../../../assets/img/arrow-right.png') center no-repeat;
    right: -60px;
}

.venue-slider .slick-prev {
    background: url('../../../assets/img/arrow-left.png') center no-repeat;
    left: -60px;
}

.venue-slider .slick-next:before {
    content: '';
}

.venue-slider .slick-prev:before {
    content: '';
}

.venue-slider .slick-dots {
    top: -40px;
    bottom: auto;
}

.venue-slider .slick-dots li button:before {
    font-size: 12px;
}