.social-event {
    padding: 30px 30px 50px;
    background-color: #F2F2F2;
}

.social-event h6 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin: 0 0 10px;
}

.event-title {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.event-title .social-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.social-icon i.icon {
    margin: 0;
}

.event-title p {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.address p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}