.suggested-artist {
    background: url('../../../assets/img/suggested-artist-bg.jpg') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 0 4px 40px rgba(196, 196, 196, 0.25);
    padding: 30px 45px 170px;
    position: relative;
}

.suggested-artist-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.94);
}

.suggested-artist .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.suggested-artist i.inverted.circular.icon {
    background-color: rgba(79, 79, 79, 0.66)!important;
}

.suggested-artist-avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.suggested-artist-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.about-suggested-artist p {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.about-suggested-artist h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.invite-btn .ui.button {
    background-color: #2D51CF;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    padding-right: 15px;
    padding-left: 15px;
}

.short-information {
    margin-bottom: 30px;
}

.short-information h4,
.short-information h5,
.short-information p {
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    margin: 0;
}

.short-information h4 {
    font-size: 24px;
    font-weight: 400;
}

.short-information h4 {
    font-size: 18px;
    font-weight: 700;
}

.short-information p {
    font-size: 18px;
    font-weight: 400;
}




















/*suggested-artist-avatar*/