.ui.basic.table tbody tr.show-detail {
    box-shadow: 0 2px 35px #E5E5E5;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-top: 0;
}

.ui.basic.table tbody tr.show-detail .table-cell {
    border-top: 0;
}

.show-detail .first-cell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 14px;
}

.first-cell .date h5,
.first-cell .date h4 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.first-cell .date h5 {
    font-size: 18px;
}

.first-cell .date h4 {
    font-size: 20px;
}

.first-cell .show-img {
    width: 140px;
    height: 70px;
}

.first-cell .show-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.show-detail .last-cell {
    display: flex;
    align-items: center;
    padding-right: 14px;
}

.last-cell .influencer-avatar {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.last-cell .influencer-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}