.dao-rating {
    background-color: #F2F2F2;
    padding: 25px 30px 50px 30px;
}

.dao-rating .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
}

.dao-rating .title h4 {
    margin-bottom: 0;
}

.graphic img {
    width: 100%;
}