.overview-active {
    background: url('../../../assets/img/overview-active-bg.png') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 45px 40px 25px;
    box-shadow: 0 4px 40px rgba(196, 196, 196, 0.25);
}

.overview-active-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.94);
}

.overview-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.overview-close-btn i.inverted.circular.icon {
    background-color: rgba(79, 79, 79, 0.66)!important;
}

.overview-active-content {
    position: relative;
}

.overview-active-content .ui.grid > .row > .second-column {
    padding-left: 0;
}

.overview-active-description p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    margin: 15px 0 0;
}

.overview-active-description h1,
.overview-active-description h3,
.overview-active-description h4 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.overview-active-description h1 {
    font-size: 36px;
}

.overview-active-description h3 {
    font-size: 24px;
}

.overview-active-description h4 {
    font-weight: 400;
    font-size: 22px;
}

.overview-active-description h4:first-of-type {
    margin-bottom: 15px;
}

.tickets-percentage-circle {
    background-color: #1F1F1F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.tickets-percentage-circle .react-sweet-progress-circle path {
    stroke-linecap: initial;
    stroke: #deefe2;
}

.tickets-percentage-circle .react-sweet-progress-circle path:last-of-type {
    stroke: #75b95a;
}

.tickets-percentage-circle .react-sweet-progress-symbol-absolute {
    display: block;
    width: 110px;
    height: 110px;
    padding-top: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.tickets-percentage-circle .react-sweet-progress-symbol {
    font-family: 'Oxygen', sans-serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.tickets-percentage-circle > span {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tickets-percentage-circle p {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    padding-top: 15px;
}

.tickets-percentage-circle p span {
    font-weight: 700;
}

.overview-active-rating {
    background-color: #1F1F1F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 15px 0 0;
    height: 100%;
}

.overview-active-rating h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    padding: 0 15px;
}

.overview-active-rating img {
    width: 100%;
}

.revenue {
    background-color: #1F1F1F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 15px;
    height: 100%;
}

.revenue h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
}

.revenue h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}


.overview-artists h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
}

.overview-artists > h5 {
    margin-bottom: 15px;
}

.overview-influencers h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
}

.overview-influencers > h5 {
    margin-bottom: 15px;
}























/*tickets-percentage-circle*/