.influencer {
    text-align: center;
}

.influencer-avatar {
    width: 160px;
    height: 160px;
    margin: 0  auto;
}

.influencer-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.influencer h6 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin: 20px 0 8px 0;
}

.influencer p {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}

.influencer p span {
    font-weight: 400;
}
