.show-place {
    display: flex;
    align-items: center;
}

.show-place .s-title {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin-top: 0;
    margin-right: 80px;
}

.tab-content .s-text {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
}

.show-place .s-button {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #000;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.about-show {
    list-style: none;
    margin: 0;
}

.about-show .list-text {
    margin-bottom: 20px;
}