.artist-avatar {
    width: 100%;
    height: 420px;
    padding-right: 20px;
}

.artist-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artists-contacts {
    display: flex;
    justify-content: space-between;
}

.artists-contacts h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 32px;
    color: #000;
    font-weight: 700;
    width: 100%;
    max-width: 200px;
    margin: 0;
}

.artists-contacts > div:first-child a {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #4089F7;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links ul {
    margin: 0 30px 0 0;
    padding: 0;
    display: flex;
}

.social-links ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.social-links ul li i.icon {
    color: #000;
    margin: 0;
}

.action-btns .ui.button {
    min-height: 50px;
    background: transparent none;
    color: #000;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    margin: 0 .25em 0 0;
    font-weight: 700;
    line-height: 1em;
    border: 3px solid #4089F7;
    border-radius: 25px;
}

.action-btns .ui.button:hover {
    background: #cacbcd;
}

.artist-rating h6,
.inf-list h6,
.respond-block h6 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin: 0;
}

.artist-rating h4,
.inf-list h4 {
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin: 0;
}

.artist-rating {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.rating-graphic {
    margin-left: 45px;
}

.inf-list {
    margin: 0;
    padding: 40px 0 0 0;
    list-style: none;
    display: flex;
}

.inf-list li {
    margin-right: 40px;
}

.respond-block {
    margin-top: 40px
}

.respond-block p {
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin: 0;
}
























/*social-links*/