.social-statistic-item {
    padding: 15px 0;
    border-bottom: 1px solid #F2F2F2;
}

.social-statistic-item > p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.social-statistic-item > p span {
    font-weight: 700;
}

.statistic-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.statistic-information h3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #000;
    margin: 0;
}

.statistic-information p {
    background: url('../../../../assets/img/arrow-green.png') 0 center no-repeat;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #4FD173;
    width: 100%;
    max-width: 80px;
    margin: 0;
    padding: 5px 0 5px 25px;
}