.event-tabs-container {
    position: relative;
}

.search-field {
    position: absolute;
    top: 0;
    right: 0;
}

.event-tabs-container .search-field .ui.input>input {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 330px;
    line-height: 1.21428571em;
    padding: 8px 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #D4D4D4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.event-tabs .ui.text.menu {
    margin-bottom: 25px;
}

.event-tabs .ui.text.menu .item {
    font-family: 'Oxygen', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #BDBDBD;
}

.event-tabs .ui.text.menu .active.item {
    color: #000;
}

.event-tabs .ui.segment {
    padding: 0 0 150px 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
}
