.advertising {
    background-color: #F2F2F2;
    margin-bottom: 20px;
    padding: 20px 30px;
}

.show-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.show-title h3 {
    font-size: 24px;
    margin-bottom: 0;
}

.show-date h2 {
    font-size: 46px;
    margin: 0;
}

.show-date h4 {
    font-size: 32px;
    margin: 0;
    font-weight: normal;
}

.tickets-identifier {
    padding-top: 10px;
    text-align: center;
}

.tickets-identifier .react-sweet-progress-circle-outer {
    margin: 10px 0;
}

.tickets-identifier .react-sweet-progress-circle-outer svg path:last-of-type {
    stroke: #41E782;
    stroke-linecap: square;
}

.tickets-identifier span {
    display: block;
    color: #F20C0C;
}

.tickets-identifier .available-tickets {
    color: #C4C4C4;
    padding-bottom: 20px;
}
