.selected-artist h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    color: #000;
    font-weight: 700;
    margin: 0;
    padding-bottom: 20px;
}

.artists-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artists-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 550px;
}

.artists-img .artist-img-wrapper {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.artists-img .artist-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}