.pending-block,
.potential-revenue {
    background-color: #1F1F1F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pending-block {
    padding: 15px 15px 20px;
    margin-bottom: 10px;
}

.pending-title {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.pending-title .pending-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #F5DE0F;
    box-sizing: border-box;
    border: 3px solid #797156;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pending-title h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
}

.pending-block p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #8F8F8F;
    font-weight: 700;
    margin: 0;
}

.potential-revenue {
    padding: 15px 20px;
}

.potential-revenue h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    padding-bottom: 5px;
}

.potential-revenue h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.artist-block {
    background-color: #1F1F1F;
    display: flex;
    align-items: stretch;
    padding: 15px 35px 15px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.artist-information {
    padding-left: 12px;
    width: 100%;
    max-width: 240px;
}

.artist-information > p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #F5F5F5;
    margin: 0;
}

.artist-picture {
    width: 75px;
    height: 75px;
}

.artist-picture img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    object-fit: cover;
}

.artist-name {
    display: flex;
    padding-bottom: 5px;
}

.artist-name h5 {
    padding-right: 10px;
}

.artist-name p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #949494;
}

.buttons {
    display: flex;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #F5F5F5;
}

.buttons button {
    border: 0;
    background-color: transparent;
    color: #F5F5F5;
    text-decoration: underline;
    cursor: pointer;
}

.buttons button:first-of-type {
    color: #4189f7;
    padding-left: 0;
}

.chat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-icon div {
    position: relative;
}

.chat-icon div span {
    position: absolute;
    top: -10px;
    right: -10px;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
    padding: 0 7px;
    border: 2px solid #1C1C1C;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #F74040;
}

















