.venue-artist {
    background-color: #1F1F1F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 14px 35px 14px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.artist-short-descr {
    display: flex;
    align-items: center;
}

.artist-short-descr img {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    object-fit: cover;
    margin-right: 20px;
}