.type-city {
    border: 2px solid #E8E8E8;
    margin-top: 60px;
    padding: 30px;
}


.type-city h3 {
    font-size: 24px;
}

.type-city textarea {
    width: 100%;
    height: 50px;
    font-size: 36px;
    /*color: #DBDBDB;*/
    border: 0;
}