.recommendations {
    padding-top: 100px;
}

.recommendation-title {
    background-color: #F2F2F2;
    padding: 35px 30px;
}

.recommendation-title .r-title {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.recommendation-title .r-text {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    margin-bottom: 0;
}

.tabs-container {
    position: relative;
}

.tabs-container .view-all {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #3283EE;
    text-decoration: underline;
    position: absolute;
    top: 14px;
    right: 20px;
}

.ui.tabs-stage {
    border: 0;
    box-shadow: none;
    margin-top: 0;
}

.ui.text.tabs-nav {
    margin-top: 40px;
    margin-bottom: 40px;
}

.tabs-nav .item {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #A3A3A3;
}

.tabs-nav .active {
    font-size: 26px;
    color: #000;
}