.influencers-container {
    padding: 80px 0 100px;
}

.influencers-container h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    color: #000;
    font-weight: 700;
    margin-bottom: 30px;
}