.social-statistics {
    background-color: #fff;
    box-shadow: 0 4px 40px rgba(196, 196, 196, 0.25);
    padding: 30px;
}

.social-statistics-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.social-statistics-title h4,
.social-statistics-title a {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.social-statistics-title h4 {
    font-size: 26px;
    color: #000;
    margin: 0;
}

.social-statistics-title a {
    font-size: 16px;
    color: #B0B0B0;
    text-decoration: underline;
    padding-top: 5px;
}

.social-statistics-title a:hover {
    text-decoration: none;
}

.social-statistics .social-statistic-item:last-of-type {
    border-bottom: 0;
}