.shows-tabs {
    position: relative;
    margin-top: 60px;
    padding-bottom: 120px;
}

.shows-tabs .ui.text.menu .item {
    font-family: 'Oxygen', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #BDBDBD;
}

.shows-tabs .ui.text.menu .active.item {
    color: #000;
}

.shows-tabs .ui.segment {
    border: 0;
    box-shadow: none;
    padding: 0;
}

.show-filter {
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 0;
}

.show-filter .date-range {
    display: flex;
    align-items: center;
}

.show-filter .ui.input input {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 200px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #949494;
    margin-right: 20px;
}

.show-filter .ui.input input:hover {
    border-color: #85b7d9;
}

.show-filter .date-range p {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #949494;
}

.show-filter .react-datepicker__input-container input {
    width: 120px;
    height: 45px;
    border: 1px solid #BDBDBD;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    color: #949494;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 5px;
    outline: 0;
}

.show-filter .react-datepicker__input-container input:hover,
.show-filter .react-datepicker__input-container input:focus {
    border-color: #85b7d9;
}
