.activity {
    display: flex;
    align-items: center;
}

.activity .activity-icon {
    margin-right: 15px;
}

.activity .facebook {
    color: #3D5C98;
}

.activity .ui.feed {
    margin: 0;
}

.activity .ui.feed>.event>.label {
    width: 65px;
}

.activity .ui.feed>.event>.label+.content {
    margin: 0 0 0 20px;
}

.activity .ui.feed>.event>.content .summary {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.activity .ui.feed>.event>.content .summary>.date {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #949494;
}

.activity .ui.feed>.event>.content .extra.text {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin-top: 0;
    max-width: 550px;
}

.activity .ui.feed>.event>.content .meta a {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.activity-rating {
    text-align: right;
}

.activity-rating h2 {
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 32px;
    color: #000;
    font-weight: 700;
    padding-left: 30px;
    background: url('../../../../assets/img/green-arrow.png') 0 0 no-repeat;
}