.social-channel {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50%;
}

.social-channel li {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-bottom: 8px;
}

.social-channel li span {
    font-weight: 400;
}

.social-channel .social-title {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin: 0 0 10px;
}

