.calendar-venue {
    position: relative;
    background: url('../../../assets/img/eastern-sun.png') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 114px;
    height: 112px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.calendar-venue-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
}

.calendar-venue-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
}

.venue-number {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    position: absolute;
    top: 5px;
    right: 5px;
}

.calendar-venue-content h4 {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    width: 100%;
    max-width: 85px;
    margin: 0;
    padding-bottom: 5px;
}

.calendar-venue-content .ui.progress:last-child {
    margin: 0;
}

.calendar-venue-content .ui.progress {
    background-color: rgba(255, 255, 255, 0.5);
    height: 8px;
}

.calendar-venue-content .ui.progress .bar {
    height: 100%;
    position: static;
}

.calendar-venue-content .ui.progress .bar>.progress {
    position: absolute;
    right: 0;
    top: -12px;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
}
























/*venue-number*/