.venue-banner {
    background: url('../../../assets/img/vanue-banner.png') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 0 4px 40px rgba(196, 196, 196, 0.25);
    position: relative;
    margin-bottom: 35px;
    padding: 30px 30px 50px 30px;
}

.venue-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #171717 0%, rgba(66, 66, 66, 0) 100%);
}

.banner-content {
    position: relative;
}

.banner-content p {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.banner-content h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 46px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
}

.percentage-circle {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.percentage-circle .react-sweet-progress-circle path {
    stroke-linecap: initial;
    stroke: rgba(255, 255, 255, 0.5);
}

.percentage-circle .react-sweet-progress-circle path:last-of-type {
    stroke: #7edd89;
}

.percentage-circle .react-sweet-progress-symbol-absolute {
    display: block;
    width: 195px;
    height: 195px;
    padding-top: 75px;
    border-radius: 50%;
    background-color: rgba(23, 22, 22, 0.8);
}

.percentage-circle .react-sweet-progress-symbol {
    font-family: 'Oxygen', sans-serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    height: auto;
}

.percentage-circle > span {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    position: absolute;
    top: 165px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.available-tickets {
    text-align: center;
}

.available-tickets p {
    background-color: rgba(71, 71, 71, 0.7);
    padding: 6px 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    display: inline-block;
}

.available-tickets p span {
    font-weight: 700;
}
























/*percentage-circle*/