.finder-container {
    padding-bottom: 200px;
}

.city-name {
    padding: 35px 30px;
    border: 2px solid #E8E8E8;
}

.city-name .field label {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.city-name .ui.input {
    width: 100%;
}

.city-name .ui.input input {
    border: 0;
    padding: 10px 0;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 36px;
}
