.statistic-item h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 28px;
    color: #000;
    font-weight: 700;
}

.statistic-item p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #545454;
    font-weight: 400;
}