.social-channels {
    background-color: #F2F2F2;
    padding: 30px 20px 50px;
    margin-bottom: 20px;
}

.social-channels h6 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin: 0 0 30px;
}

.channels-list {
    display: flex;
    flex-wrap: wrap;
}