.top-cities .top-cities-table .table-cell {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.top-cities .top-cities-table .best-venue {
    color: #FF1212;
}