.book-event {
    margin-bottom: 34px;
}

.book-event > .ui.grid {
    background-color: #FFF8BF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 40px rgba(135, 135, 135, 0.25);
}

.book-event > .ui.grid > .row {
    align-items: center;
}

.book-event h3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.free-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.free-date h5,
.free-date h4 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.free-date h5 {
    font-size: 18px;
    text-transform: uppercase;
}

.free-date h4 {
    font-size: 22px;
}

.book-event .ui.primary.button {
    background-color: #3B70F7;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}