.show-date p,
.show-date h5,
.show-date a {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.show-date p {
    font-size: 16px;
}

.show-date h5 {
    font-size: 24px;
}

.show-date a {
    color: #4089F7;
    font-size: 14px;
}

.venue-forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.venue-forms .fields {
    display: flex;
}

.venue-forms .form-group label,
.venue-forms .ui.selection.dropdown {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 16px;
}

.venue-forms .ui.selection.visible.dropdown>.text:not(.default) {
    font-weight: 700;
    color: #000;
}

.venue-forms .ui.dropdown .menu>.item {
    font-weight: 700;
    color: #000;
    font-size: 14px;
}

.venue-forms .form-group label {
    display: block;
    padding-bottom: 8px;
}

.venue-forms .ui.selection.dropdown {
    line-height: 20px;
    min-width: 160px;
    min-height: 32px;
    background: transparent;
    padding: 5px 25px 5px 10px;
    box-sizing: border-box;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    margin-right: 50px;
}

.venue-forms .ui.selection.dropdown>.dropdown.icon {
    padding: 8px 5px;
}

.venue-forms .ui.selection.dropdown .menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.venue-forms .ui.selection.active.dropdown:focus {
    border-color: #96c8da;
    -webkit-box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
}

.venue-forms .ui.input>input {
    width: 260px;
    min-height: 32px;
    /*line-height: 1.21428571em;*/
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #9E9E9E;
    color: #000;
    border-radius: 0;
}

.venue-forms .ui.input>input:hover,
.venue-forms .ui.input>input:focus {
    border-color: #96c8da;
}

.radio-btn-group .field:first-child {
    margin-right: 20px;
}

.radio-btn-group .ui.checkbox label {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    color: #F21F1F;
    font-weight: 700;
}

.radio-btn-group .ui.checkbox input:focus~label {
    color: #F21F1F;
}

.radio-btn-group .ui.checkbox input:checked~.box:after,
.radio-btn-group .ui.checkbox input:checked~label:after {
    color: #F21F1F;
}

.radio-btn-group .ui.radio.checkbox .box:before,
.radio-btn-group .ui.radio.checkbox label:before {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.radio-btn-group .ui.checkbox .box:before,
.radio-btn-group .ui.checkbox label:before {
    background-color: transparent;
    border-color: #F21F1F;
}

.radio-btn-group .ui.checkbox .box:hover::before,
.radio-btn-group .ui.checkbox label:hover::before {
    background: transparent;
    border-color: #F21F1F;
}

.radio-btn-group .ui.radio.checkbox .box:after,
.radio-btn-group .ui.radio.checkbox label:after {
    width: 20px;
    height: 20px;
    background-color: #F21F1F;
}

.radio-btn-group .ui.radio.checkbox input:checked~.box:after,
.radio-btn-group .ui.radio.checkbox input:checked~label:after {
    background-color: #F21F1F;
}

.radio-btn-group .ui.radio.checkbox input:focus:checked~.box:before,
.radio-btn-group .ui.radio.checkbox input:focus:checked~label:before {
    background-color: transparent;
}

.radio-btn-group .ui.radio.checkbox input:checked~.box:before,
.radio-btn-group .ui.radio.checkbox input:checked~label:before {
    background-color: transparent;
}
.ui.radio.checkbox input:focus~.box:before,
.radio-btn-group .ui.radio.checkbox input:focus~label:before {
    background-color: #fff;
}
.ui.checkbox input:checked:focus~.box:before,
.radio-btn-group .ui.checkbox input:checked:focus~label:before,
.radio-btn-group .ui.checkbox input:not([type=radio]):indeterminate:focus~.box:before,
.radio-btn-group .ui.checkbox input:not([type=radio]):indeterminate:focus~label:before {
    background: transparent;
    border-color: #F21F1F;
}

.radio-btn-group .ui.checkbox input:checked~.box:before,
.radio-btn-group .ui.checkbox input:checked~label:before {
    background: transparent;
    border-color: #F21F1F;
}
.radio-btn-group .ui.checkbox input:focus~.box:before,
.radio-btn-group .ui.checkbox input:focus~label:before {
    background: transparent;
    border-color: #F21F1F;
}

.radio-btn-group .ui.radio.checkbox input:focus:checked~.box:after,
.radio-btn-group .ui.radio.checkbox input:focus:checked~label:after {
    background-color: #F21F1F;
}