.remaining-tickets h2,
.sold-tickets h2,
.remaining-tickets p,
.sold-tickets p,
.show-paragraph p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.remaining-tickets h2,
.sold-tickets h2 {
    font-size: 28px;
}

.remaining-tickets p,
.sold-tickets p,
.show-paragraph p{
    font-size: 16px;
}