.chat-container {
    background-color: #F2F2F2;
    height: 450px;
    padding: 20px;
    margin-bottom: 20px;
}

.chat-container h6 {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin: 0 0 20px;
}

.messages {
    width: 100%;
    height: 280px;
    overflow: auto;
}

.send-message textarea {
    width: 100%;
    height: 45px;
    padding: 10px 8px 0 8px;
    border: 1px solid #B5B5B5;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    resize: none;
    outline: 0;
}

.send-message {
    margin-top: 20px;
}

.send-message textarea:hover,
.send-message textarea:focus {
    border-color: #85b7d9;
}

.send-message textarea:focus {
    padding: 0;
}

.send-message a {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #3283EE;
    text-decoration: underline;
}