.titles {
    margin-bottom: 14px;
}

.titles p {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

























































/*.event-date h4 {*/
    /*font-size: 22px;*/
/*}*/