.venue-dropdown {
    position: relative;
    width: 100%;
    max-width: 250px;
    height: auto;
    padding-top: 10px;
    background-color: #191919;
    box-shadow: 0 4px 40px rgba(140, 140, 140, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.venue-dropdown::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #191919;
    position: absolute;
    right: -10px;
    top: 20px;
}

.about-member {
    margin: 0;
    padding: 0 20px;
    list-style: none;
}

.about-member li {
    border-bottom: 1px solid #262525;
    padding: 15px 0;
}

.about-member li:last-child {
    border-bottom: 0;
}

.about-member li h5 {
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.about-member li p {
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
}

.first-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-title {
    width: 100%;
    max-width: 160px;
}

.member-title h3,
.member-title p {
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
}

.member-title h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.member-title p {
    font-size: 14px;
    font-weight: 400;
}

.member-avatar {
    width: 45px;
    height: 45px;
}

.member-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.venue-dropdown .ui.button {
    background-color: #292929;
    margin-right: 0;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
}