.play-place {
    padding-top: 50px;
}

.play-place > p {
    color: #666666;
    font-size: 18px;
}

.recommended-places {
    display: flex;
}

.recommended-places > div:first-child {
    margin-right: 30px;
}

.banner {
    height: 450px;
    background: url('../../../assets/img/banner.jpg') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 40px 30px 40px 100px;
    position: relative;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.place-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.play-place h1 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 0;
}

.play-place h3 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 0;
}

.play-place .ui.button {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #EEF211;
    color: #000;
    font-size: 20px;
}

.audiences {
    display: flex;
    padding-top: 60px;
    position: relative;
}