.about-event {
    margin-bottom: 34px;
}

.about-event > .ui.grid {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 40px rgba(135, 135, 135, 0.25);
}

.about-event > .ui.grid > .event-row {
    align-items: center;
}

.about-event i.show-icon {
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.event-date h5,
.event-date h4 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.event-date h5 {
    font-size: 18px;
    text-transform: uppercase;
}

.event-date h4 {
    font-size: 22px;
}

.participant {
    display: flex;
    align-items: center;
}

.participant .participant-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.participant-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.event-row  p {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

.event-row  p span {
    color: #969696;
}

.about-event > .ui.grid > .hidden-row {
    display: none;
}

.about-event > .ui.grid > .show-row {
    display: block;
}

.event-influencer {
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #F7F7F7;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.influencer-img {
    width: 45px;
    height: 45px;
}

.influencer-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.event-influencer ul {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 125px;
    list-style: none;
}

.event-influencer ul p {
    font-family: 'Oxygen', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 14px;
}

.event-influencer ul p span {
    font-weight: 700;
}

.about-event>.ui.grid>.hidden-row>.influencer-column:first-child {
    padding-right: 4px;
}

.about-event>.ui.grid>.hidden-row>.influencer-column:nth-child(2) {
    padding-left: 4px;
}

.extra-information p,
.extra-information h5 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.extra-information p {
    font-size: 14px;
    color: #9C9C9C;
    margin-bottom: 8px;
}

.extra-information h5 {
    font-size: 20px;
    color: #000;
    margin: 0;
}

.event-socials {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.event-socials li {
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.event-socials li i.icon {
    color: #000;
    margin-right: 0;
}

.hidden-row .ui.primary.button {
    background-color: #3B70F7;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 16px;
}