.influencers-activity {
    padding-bottom: 120px;
}

.title-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.influencers-activity h5,
.influencers-activity h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.influencers-activity h5 {
    font-size: 22px;
}

.influencers-activity h6 {
    font-size: 18px;
}



.activities-container {
    padding-top: 14px;
}

.activity-grid.ui.grid>.column {
    border-bottom: 1px solid #DBDBDB;
}

.activity-grid.ui.grid>.column {
    padding-top: 30px;
    padding-bottom: 30px;
}

.activity-grid.ui.grid>.activity-title,
.activity-grid.ui.grid>.rating-title {
    padding-top: 0;
    padding-bottom: 8px;
}

.activity-title p,
.rating-title p {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #454545;
}

.rating-title p {
    text-align: right;
}

































/*l;ksl;fkads;lfadsklfjsadklfj*/