.top-cities {
    padding-top: 90px;
}

.top-cities > h2,
.top-cities > p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.top-cities > h2 {
    font-size: 28px;
    color: #000;
}

.top-cities > p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 0;
}

.top-cities .top-cities-table {
    margin-top: 45px;
}

.top-cities .top-cities-table .table-header {
    border-bottom: 0;
}

.top-cities .top-cities-table .table-head {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    border-bottom: 0;
}

.top-cities .view-more {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #3283EE;
    text-decoration: underline;
}