.message {
    margin-bottom: 20px;
}

.message-author,
.message-body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

.message-author {
    font-size: 12px;
    color: #787878;
}

.message-body {
    font-size: 16px;
    color: #000;
}