.show-tab-content .ui.table thead .table-head {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    border-bottom: 0;
}

.show-tab-content .show-table {
    border-spacing: 0 15px;
}