.banner-item {
    margin-right: 30px;
}

.banner-item h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.banner-item p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    width: 85px;
}