.place {
    width: 160px;
    position: relative;
}

.place-amount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;

}

.place-amount h2 {
    font-size: 36px;
    margin-bottom: 0;
    margin-right: 10px;
}

.place-amount p {
    font-size: 14px;
    line-height: 14px;
}

.place .ui.selection.dropdown {
    width: 100%;
    box-sizing: border-box;
    min-width: 160px;
    min-height: 32px;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 8px 50px 8px 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.place .ui.selection.dropdown:hover {
    border-color: #E1E412;
}

.place .ui.selection.active.dropdown {
    border-color: #E1E412;
}

.place .ui.selection.active.dropdown:hover {
    border-color: #E1E412;
}

.place .ui.dropdown:not(.button) > .default.text {
    color: #E1E412;
}

.place .ui.selection.dropdown > .dropdown.icon {
    color: #ffffff;
    padding: 8px 15px;
}

.place .ui.dropdown > .text {
    color: #E1E412;
}

.place .ui.selection.visible.dropdown > .text:not(.default) {
    color: #E1E412;
}