.artist .ui.checkbox {
    min-width: 28px;
    min-height: 28px;
}

.artist .field {
    text-align: center;
    padding-top: 40px;
}

.artist .ui.checkbox label:before {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #000;
}

.artist .ui.checkbox input:checked~label:before {
    background: #fff;
    border-color: #000;
}

.artist .ui.checkbox input:focus~.box:before,
.artist .ui.checkbox input:focus~label:before {
    border-color: #000;
}

.artist .ui.checkbox .box:after, .ui.checkbox label:after {
    font-size: 18px;
    top: 4px;
    width: 28px;
    height: 22px;
    text-align: center;
    color: #000;
}

.artist-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.artist-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-artist {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.ui.invite-btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
}
