.show-banner {
    height: 450px;
    background: url('../../../assets/img/banner.jpg') 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 30px 40px 50px 40px;
    position: relative;
}

.overlay-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.show-banner h1,
.show-banner h2,
.show-banner h4 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    position: relative;
}

.show-banner h1 {
    font-size: 48px;
}

.show-banner h2 {
    font-size: 32px;
}

.show-banner h4 {
    font-size: 24px;
}

.tickets-information {
    position: absolute;
    bottom: 50px;
    left: 40px;
    display: flex;
}


.ticket-price-container {
    padding-top: 70px;
}

.ticket-price-container h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.ticket-price-graphic {
    position: relative;
}

.ticket-price-graphic ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ticket-price-graphic ul li {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color: #7A7A7A;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E3E3E3;
}

.ticket-price-graphic img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.graphic-month {
    margin: 0;
    padding: 20px 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.graphic-month li {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color: #7A7A7A;
    font-weight: 700;
    padding: 0 45px;
}


.analysis-graphic {
    padding-top: 60px;
}

.analysis-graphic > h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.analysis-graphic > p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.comment-type {
    margin: 25px 0 0;
    padding: 0 0 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.comment-type li {
    display: flex;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.comment-type li:first-child span {
    background-color: #FB090B;
    margin-right: 10px;
}

.comment-type li:last-child span {
    background-color: #6099F0;
    margin-left: 10px;
}

.comment-type li span {
    width: 15px;
    height: 15px;
}

.comment-gradient {
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, #FF0000 0%, #6099F0 42.19%);
    position: relative;
}

.comment-indicator {
    position: absolute;
    padding-top: 47px;
    top: 5px;
    right: 10%;
}

.comment-indicator p {
    padding: 8px 15px;
    background-color: #FFF5BF;
    border: 1px dotted #000;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.gradient-slider {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 4px solid #E5C935;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.gradient-slider span {
    display: block;
    height: 30px;
    border-right: 1px dotted #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}





.rating-container {
    padding-top: 120px;
}

.rating-container > h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.rating-container > p {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.rating-graphic-block {
    position: relative;
}

.rating-graphic-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.rating-graphic-block ul li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E3E3E3;
}

.rating-graphic-block img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.rating-month {
    margin: 0;
    padding: 20px 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.rating-month li {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color: #7A7A7A;
    font-weight: 700;
    padding: 0 45px;
}











































/*.ticket-price-graphic {*/
    /**/
/*}*/