.social-item p {
    font-size: 16px;
    margin-bottom: 0;
}

.followers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #D9D9D9;
}

.followers h2 {
    margin-bottom: 0;
}

.followers span {
    padding-left: 20px;
    background: url('../../../../assets/img/Arrow.png') 0 center no-repeat;
}